@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}

#type-container {
    position: absolute;
    text-align: right;
    right: 0px;
    padding: 20px;
    width: 300px;
    z-index: 100;
}

#about-tab {
    display: none;
}

#about:hover, #download:hover, #x:hover {
    cursor: pointer;
    color: red;
}

#download, #about {
    pointer-events: auto;
    color: white;
}

.blank-box {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /*z-index: -300;*/
}

.button {
    pointer-events: auto;
    position: relative;
    border-radius: 20px;
    border: 3px red solid;
    color: red;
    background-color: black;
    text-align: center;
    font-size: 30px;
}


/*.name-tags{
  margin-left: 130px;
    margin-right: 130px;
  display: inline-block;
  top:46%;
  width:100px;
}*/

#spin {
    padding: 0;
    width: 143px;
    top: 90%;
    margin: auto;
    /*width: 50%;*/
}

.button:hover {
    color: white;
    background-color: red;
    cursor: pointer
}

#loader, #countdown {
    position: absolute;
    margin: auto 0;
    left: 10%;
    font-size: 150px;
    text-align: center;
    top: 20%;
    -webkit-animation: rainbow 1s infinite;
    -ms-animation: rainbow 1s infinite;
    -o-animation: rainbow 1s infinite;
    animation: rainbow 1s infinite;
    /*color: red;*/
}

body {
    color: white;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
}


/*#countdown {}*/

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

a {
    color: skyblue
}


/* Smartphones (landscape) ----------- */

@media all and (max-width: 311px) {
    .name-tags {
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        top: 76%;
        font-size: 20px;
        width: 80px;
    }
    /* Styles */
}

@media all and (min-width: 311px) and (max-width: 768px) {
    .name-tags {
        margin-left: 70px;
        margin-right: 70px;
        display: inline-block;
        top: 46%;
        width: 100px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .name-tags {
        margin-left: 90px;
        margin-right: 90px;
        display: inline-block;
        top: 46%;
        width: 100px;
    }
}


/* Desktops and laptops ----------- */

@media all and (min-width: 1024px) {
    .name-tags {
        margin-left: 130px;
        margin-right: 130px;
        display: inline-block;
        top: 46%;
        width: 100px;
    }
    /* Styles */
}
